.comentarios .well {
    margin-left: 3em;
    margin-bottom: 3px;
    padding: 3px 5px;
    word-wrap: break-word;
    font-family: 'Inconsolata', sans-serif;
}
.comentarios .well img {
    max-height: 25px;
    display: inline;
}